.banner {
	width: 100%;
	min-height: 50vh;
	background: linear-gradient(
			180deg,
			rgba(0, 0, 0, 0.5) 0%,
			rgba(0, 0, 0, 0.5) 100%
		),
		url(../img/banner.jpg);
	background-position: center center;
	background-size: cover;
	.container__banner {
		width: 80%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		.banner__img {
			width: 12.5em;
			height: 12.5em;
			border-radius: 50%;
		}
		.banner__paragraph {
			width: 31.25em;
			color: #f2f2f2;
			margin-bottom: 0.62em;
		}
		.banner__btn-info {
			width: 12.5em;
			padding: 0.93em 1.87em;
			border: none;
			background: #f2f2f2;
			border-radius: 10px;
			cursor: pointer;
			&:hover {
				background-color: aqua;
				color: #f2f2f2;
				transition: all 0.2s ease;
			}
		}
	}
}
/* Main Section */
.SobreMi {
	padding: 1.875em 0;
	.container__SobreMi {
		width: 60%;
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	.SobreMi__title-hero {
		color: #5d6d7e;
	}
	.SobreMi__title {
		margin-bottom: 0.9375em;
		color: #5d6d7e;
		font-size: 1.25em;
	}
	.SobreMi__paragraph {
		margin-bottom: 1.25em;
	}
	.SobreMi__list {
		list-style: none;
		margin-bottom: 1.25em;
	}
}
