body {
	font-family: 'Noto Sans', sans-serif;
}
.banner {
	width: 100%;
	min-height: 50vh;
	background: linear-gradient(
			180deg,
			rgba(0, 0, 0, 0.5) 0%,
			rgba(0, 0, 0, 0.5) 100%
		),
		url(../img/banner.jpg);
	background-position: center center;
	background-size: cover;
	.container__banner {
		width: 80%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		.banner__img {
			width: 12.5em;
			height: 12.5em;
			border-radius: 50%;
		}
		.banner__paragraph {
			width: 31.25em;
			color: #f2f2f2;
			margin-bottom: 0.62em;
		}
		.banner__btn-info {
			width: 12.5em;
			padding: 0.93em 1.87em;
			border: none;
			background: #f2f2f2;
			border-radius: 10px;
			cursor: pointer;
			transition: all 0.3s ease;
			&:hover {
				background-color: #181818;
				color: #f2f2f2;
				transform: scale(0.93);
				transition: all 0.3s ease;
			}
		}
	}
}
/* Main Section */
.SobreMi {
	padding: 1.875em 0;
	.container__SobreMi {
		width: 60%;
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	.SobreMi__title-hero {
		color: #5d6d7e;
	}
	.SobreMi__title {
		margin-bottom: 0.9375em;
		color: #5d6d7e;
		font-size: 1.25em;
	}
	.SobreMi__paragraph {
		margin-bottom: 1.25em;
	}
	.SobreMi__list {
		list-style: none;
		margin-bottom: 1.25em;
	}
	.Sobremi__card-i {
		/* background-color: tomato; */
		height: 1.25em;
		flex-wrap: wrap;
		font-size: 2.18em;
		color: #d0d3d4;
		cursor: pointer;
		transition: all 0.3s ease;
		&:hover {
			/* font-size: 2.81em; */
			transform: scale(1.5);
			transition: all 0.3s ease;
		}
	}
	.bxl-html5:hover {
		color: #e34f26;
	}
	.bxl-css3:hover {
		color: #3091f2;
	}
	.bxl-sass:hover {
		color: #dc84ae;
	}
	.bxl-php:hover {
		color: #8892be;
	}
	.bxl-javascript:hover {
		color: #f7df1e;
	}
	.bxl-python:hover {
		color: #4584b6;
	}
	.bxl-react:hover {
		color: #00d8ff;
	}
}

.contacto {
	margin-bottom: 1.87em;
	.container--contacto {
		width: 60%;
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	.contacto__title {
		font-size: 1.25em;
		margin-bottom: 1.25em;
	}
	.contacto__btn {
		display: inline-block;
		flex-wrap: wrap;
		padding: 0.93em 2rem;
		background-color: #d0d3d4;
		border-radius: 0.93em;
		text-decoration: none;
		color: #181818;
		transition: all 0.3s ease;
		&:hover {
			background-color: #5d6d7e;
			color: #f2f2f2;
			transform: scale(0.93);
			transition: all 0.3s ease;
		}
	}
}

.footer {
	width: 100%;
	background-color: #5d6d7e;
	color: #f2f2f2;
	.footer__grup {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0.937em 0;
	}
	.footer__social {
		width: 100%;
		padding: 0.93em 0;
		margin: auto;
		display: flex;
		align-items: center;
		justify-content: center;
		.footer__links {
			text-decoration: none;
			color: #f3f3f3;
			margin-left: 1.25em;
		}
	}
	.footer__copy {
		width: 100%;
		padding: 0.93em 0;
		margin: auto;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
